<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Slagalica"
        tools:targetApi="31">
        <activity
            android:name=".Activities.OstaliActivities.RangLista"
            android:exported="false" />
        <activity
            android:name=".Activities.OstaliActivities.DvaIgraca"
            android:exported="false" />
        <activity
            android:name=".Activities.OstaliActivities.JedanIgrac"
            android:exported="false" />

        <activity
            android:name=".Activities.OstaliActivities.Profil"
            android:exported="false" />
        <activity
            android:name=".Activities.IgriceActivities.Asocijacije"
            android:exported="false" />
        <activity
            android:name=".Activities.IgriceActivities.KorakPoKorak"
            android:exported="false" />
        <activity
            android:name=".Activities.IgriceActivities.Spojnice"
            android:exported="false" />
        <activity
            android:name=".Activities.KorisnikActivities.RegistrovanKorisnik"
            android:exported="false" />
        <activity
            android:name=".Activities.KorisnikActivities.Prijava"
            android:exported="false" />
        <activity
            android:name=".Activities.KorisnikActivities.Registracija"
            android:exported="false" />
        <activity
            android:name=".Activities.OstaliActivities.Prijatelji"
            android:exported="false" />
        <activity
            android:name=".Activities.KorisnikActivities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>